ELibrary-AuthService/obj/ELibrary-AuthService.csproj.nuget.dgspec.json
ELibrary-AuthService/obj/ELibrary-AuthService.csproj.nuget.g.props
ELibrary-AuthService/obj/project.assets.json
ELibrary-AuthService/obj/project.nuget.cache
ELibrary-AuthService/obj/Debug/net7.0/ELibrary-AuthService.assets.cache
ELibrary-AuthService/obj/Debug/net7.0/ELibrary-AuthService.csproj.AssemblyReference.cache
ELibrary-AuthService/obj/Debug/net7.0/ELibrary-AuthService.GeneratedMSBuildEditorConfig.editorconfig
ELibrary-AuthService/obj/Debug/net7.0/project.razor.json
